.sign-in-page {
  &.row {
    max-width: 1000px;

    .col {
      max-width: 410px;

      form {
        margin-top: 32px;

        button {
          margin-top: 32px;
        }
      }
    }
  }
}
