.right {
  .card-body {
    padding: 0;

    .row {
      height: 100%;
      padding: 0;

      div {
        padding: 1.25rem 15px;
        overflow-y: auto;

        p {
          margin-bottom: 0.25rem;
        }

        &.col-md-auto {
          max-width: 25%;
          border-left: 3px double lightgrey;
          font-weight: 300;

          p::before {
            content: "\2022";
            color: #28a745;
            font-weight: 900;
            margin-right: 0.25em;
          }
        }
      }
    }
  }
}
