.room-list-page {
  .room-list {
    display: inline-block;
    width: 75%;
    vertical-align: top;
    padding: 20px 20px 20px 80px;

    .room-list-header {
      display: inline;
    }

    .list-group {
      padding-top: 20px;
    }
  }

  .user-list {
    width: 25%;
    display: inline-block;
    padding: 20px 80px 20px 20px;

    .list-container {
      border: 2px dotted lightseagreen;
      border-radius: 2em;
      padding: 10px 10px;
    }
  }
}
