.room-list-container {
  .room-name {
    margin-bottom: 0;

    span {
      color: grey;
      font-weight: 300;
    }

    .created-by {
      font-size: 0.8rem;
      font-style: italic;
    }
  }
}
