.badge-container {
  float: right;

  .badge {
    font-size: 100%;

    &.badge-secondary {
      opacity: 0.65;
      pointer-events: none;
    }

    &.badge-danger {
      margin-right: 0.5em;
    }
  }

  div {
    display: inline-block;
  }
}
