.game-page {
  .left .card-body {
    text-align: center;

    span {
      background-color: rgba(255, 229, 100, 0.3);
      border-left: 4px solid #ffe564;
      padding: 0.25rem;
      font-size: 1.5rem;
      font-weight: 500;
    }

    .table {
      width: 75%;
      height: 75%;
      table-layout: fixed;
    }
  }
}
