.game-page {
  .left .card-body {
    text-align: center;

    .alert {
      display: inline-block;
    }

    .table {
      width: 75%;
      height: 75%;
      top: 55%;
      table-layout: fixed;
    }
  }
}
